            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }
            
            h1 {
                font-family: 'Aharoni';
                color: black;
                font-size: 100px;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
            }
            
            body {
                height: 100vh;
                display: flex;
                background-image: url(https://wallpapercave.com/uwp/uwp228903.jpeg);
            }
            
            .memory-game {
                width: 50%;
                height: 50%;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                perspective: 1000px;
            }
            
            .memory-card {
                width: calc(10%);
                height: calc(33.333% - 10px);
                margin: 5px;
                position: relative;
                transform: scale(1);
                transform-style: preserve-3d;
                transition: transform .5s;
                box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
                justify-content: space-between;
            }
            
            .memory-card:active {
                transform: scale(0.97);
                transition: transform .2s;
            }
            
            .memory-card.flip {
                transform: rotateY(180deg);
            }
            
            .first,
            .second {
                width: 100%;
                height: 100%;
                position: absolute;
                border-radius: 5px;
                background: #ffffff;
                backface-visibility: hidden;
            }
            
            .first {
                transform: rotateY(180deg);
            }